# 公开应用配置，可以提交到版本库。签名密码只能放入 keystore.properties 或 CI 环境变量。
{{NAMESPACE_KEY}}={{PACKAGE_NAME}}
{{APPLICATION_ID_KEY}}={{APPLICATION_ID}}
{{VERSION_NAME_KEY}}={{VERSION_NAME}}
{{REQUIRE_SIGNING_KEY}}={{REQUIRE_SIGNING_DEFAULT}}
